name: Build
run-name: Build ${{ inputs.app }}
on:
  workflow_dispatch:
    inputs:
      app:
        required: true
        type: choice
        options:
          - dotnet-6.0
          - dotnet-7.0
          - dotnet-8.0
          - dotnet-9.0
          - jdk-11
          - jdk-17
          - jdk-17-graalvm
          - jdk-21
          - jdk-21-graalvm
          - jdk-23
          - jdk-23-graalvm
          - jenkins
          - jenkins-ssh-agent
          - jenkins-inbound-agent
          - nginx-spa
          - hugo
          - mkdoc
          - openwrt-builder

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to the Private registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_URL }}
          username: ${{ vars.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract version
        id: version
        run: echo "image_version=`[[ -s ${{ inputs.app }}/docker/image-version ]] && cat ${{ inputs.app }}/docker/image-version || echo latest`" >> "$GITHUB_OUTPUT"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ vars.REGISTRY_URL }}/library/${{ inputs.app }}
            docker.io/czy21/${{ inputs.app }}
            ghcr.io/czy21/${{ inputs.app }}
          tags: |
            type=raw,value=${{ steps.version.outputs.image_version }}
            type=raw,value=latest,enable=${{ steps.version.outputs.image_version != 'latest' }}
          labels: |
            org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}/tree/main/${{ inputs.app }}
            org.opencontainers.image.title=${{ inputs.app }}

      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.app }}/docker
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}